In [7]:
import pandas as pd

# Loading the dataset
df = pd.read_csv('air_quality_health_impact_data.csv')

# viewing the first 5 rows 
df.head()

# shape and column names 
print("data frame", df.shape)
print("columns", df.columns.to_list())

# checking the data type of the columns and missing values 
print(df.info())
# no missing values present 
df.isnull().sum()

# general statistics summary for all numeric columns with describe method
df.describe()

data frame (5811, 15)
columns ['RecordID', 'AQI', 'PM10', 'PM2_5', 'NO2', 'SO2', 'O3', 'Temperature', 'Humidity', 'WindSpeed', 'RespiratoryCases', 'CardiovascularCases', 'HospitalAdmissions', 'HealthImpactScore', 'HealthImpactClass']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5811 entries, 0 to 5810
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   RecordID             5811 non-null   int64
 1   AQI                  5811 non-null   float64
 2   PM10                 5811 non-null   float64
 3   PM2_5                5811 non-null   float64
 4   NO2                  5811 non-null   float64
 5   SO2                  5811 non-null   float64
 6   O3                   5811 non-null   float64
 7   Temperature          5811 non-null   float64
 8   Humidity             5811 non-null   float64
 9   WindSpeed            5811 non-null   float64
 10  RespiratoryCases     5811 non-null   int64
 11  CardiovascularCases  5811 non-null   int64
 12  HospitalAdmissions   5811 non-null   int64
 13  HealthImpactScore    5811 non-null   float64
 14  HealthImpactClass    5811 non-null   float64
dtypes: float64(11), int64(4)
memory usage: 681.1 KB
None

,RecordID,AQI,PM10,PM2_5,NO2,SO2,O3,Temperature,Humidity,WindSpeed,RespiratoryCases,CardiovascularCases,HospitalAdmissions,HealthImpactScore,HealthImpactClass
count,5811.000000,5811.000000,5811.000000,5811.000000,5811.000000,5811.000000,5811.000000,5811.000000,5811.000000,5811.000000,5811.000000,5811.000000,5811.000000,5811.000000,5811.000000
mean,2906.000000,248.438476,148.654997,100.223714,102.293445,49.456838,149.312431,14.975500,54.776853,9.989177,9.974187,4.988986,2.001033,93.785223,0.281191
std,1677.635538,144.777638,85.698500,58.096612,57.713175,28.530329,86.534240,14.483067,26.020786,5.776950,3.129234,2.216791,1.398794,13.318904,0.714075
min,1.000000,0.005817,0.015848,0.031549,0.009625,0.011023,0.001661,-9.990998,10.001506,0.002094,1.000000,0.000000,0.000000,22.448488,0.000000
25%,1453.500000,122.951293,75.374954,49.435171,53.538538,24.887264,73.999665,2.481500,31.995262,4.952343,8.000000,3.000000,1.000000,98.203057,0.000000
50%,2906.000000,249.127841,147.634997,100.506337,102.987736,49.530165,149.559871,14.942428,54.543904,10.051742,10.000000,5.000000,2.000000,100.000000,0.000000
75%,4358.500000,373.630668,222.436759,151.340260,151.658516,73.346617,223.380126,27.465374,77.641639,14.971840,12.000000,6.000000,3.000000,100.000000,0.000000
max,5811.000000,499.858837,299.901962,199.984965,199.980195,99.969561,299.936812,39.963434,99.997493,19.999139,23.000000,14.000000,12.000000,100.000000,4.000000

In [ ]:
# Question 1 - What air pollutants likely causes what diseases ?
# we will generate a correlation matrix which contains correlation coefficients for the selected columns which we can 
# later use to identify the relationship between the pollutants and health cases

# selecting pollutants and health cases columns from the dataframe to analyse and answer the first question 
columns = ['PM10', 'PM2_5', 'NO2', 'SO2', 'O3', 'RespiratoryCases', 'CardiovascularCases', 'HospitalAdmissions']
data = df[columns]

#computing correlation matrix and exporting as csv
correlation_matrix = data.corr(numeric_only=True)
correlation_matrix.to_csv('correlation_matrix.csv', index=True, index_label='Name')

                     RespiratoryCases  CardiovascularCases  HospitalAdmissions
PM10                        -0.001315             0.015582           -0.009076
PM2_5                        0.025244             0.017312           -0.023123
NO2                          0.019849            -0.005012           -0.002859
SO2                          0.011130            -0.002672           -0.010546
O3                          -0.010068             0.001753           -0.014293
RespiratoryCases             1.000000            -0.002621            0.009679
CardiovascularCases         -0.002621             1.000000           -0.035632
HospitalAdmissions           0.009679            -0.035632            1.000000

In [26]:
#  Question 2 - Are any air pollutants or health outcomes significantly skewed or heavy-tailed ?
# we can answer this question by calculating the skewness and Kurtosis for the air pollutants and health outcomes related
# columns

#  skewness value tells us how symmetrical our values are for a column
#  kurtosis value tells us if column data contains extreme outliers 

# selecting the required columns from the data frame
columns = ['PM2_5', 'PM10', 'NO2', 'SO2', 'O3', 
        'RespiratoryCases', 'CardiovascularCases', 'HospitalAdmissions']

# selecting only the relevant columns and data for answering our question 
q2_data = df[columns]

# calculating the skewness and kurtosis for each column
skewness = q2_data.skew(numeric_only=True)
kurtosis = q2_data.kurtosis(numeric_only=True)

# combining both values into one data frame
combined_dataframe = pd.DataFrame({
    'skewness':skewness,
    'kurtosis' : kurtosis
})
# exporting combined data frame as csv for visualisation and to put into excel dashboard
combined_dataframe.to_csv('q2_data.csv', index=True, index_label='column')

print(combined_dataframe)

                     skewness  kurtosis
PM2_5               -0.002834 -1.205647
PM10                 0.019243 -1.174770
NO2                 -0.053589 -1.188774
SO2                  0.025574 -1.168777
O3                   0.011182 -1.206107
RespiratoryCases     0.255866  0.095321
CardiovascularCases  0.445664  0.230117
HospitalAdmissions   0.715323  0.770960

In [ ]:
# Question 3 - Are there any notable outliers in pollutant or health outcome data?

#  This can be answered by plotting box plots and was directly done in Excel.

In [53]:
# Question 4 - How do average health outcomes differ across low vs high pollution levels ?

#  to categorise low and high pollution levels for each air pollutant, we will consider median of the air pollutant 
#  if the air pollutant value is less than median it will be classified as low and vice versa 
#  then we will calculate the average of health outcomes for low and high pollution levels and analyse the outcomes

pollutants = ['PM2_5', 'PM10', 'NO2', 'SO2', 'O3']
health_metrics = ['RespiratoryCases', 'CardiovascularCases']
categorical_rows = []
for pollutant in pollutants:
    median_value = df[pollutant].median()

    #creating a temporary column called level 
    df['level'] = df[pollutant].apply(lambda x: f"{pollutant} - Low" if x <= median_value else f"{pollutant} - High")

    # grouping by pollutant level and calculating the averages of each health metric
    grouped = df.groupby('level')[health_metrics].mean().reset_index()
    categorical_rows.append(grouped)

data_frame = pd.concat(categorical_rows, ignore_index=True)
data_frame.to_csv('q3_data.csv', index_label='SNo')

In [58]:
# Question 5 - Is there a statistically significant difference in health outcomes between low and high AQI levels?
# we will use hypthesis testing to answer this question
# as we have two groups based on which we have to validate the claimed statement, then we have to use Two-sample t-test approach

#  Null hypothesis Ho = There is no difference in average respiratory cases between low and high AQI groups
#  Alternative hypothesis H1 = There is a difference in average respiratory cases between the groups
from scipy.stats import ttest_ind
# splitting the AQI into two groups Low and High based on median value 

aqi_median_value = df['AQI'].median()
df['AQI_level'] = df['AQI'].apply(lambda x : 'Low' if x <= aqi_median_value else 'High')


# now separating the low and high into two groups 
low_aqi_group = df[df['AQI_level'] == 'Low']
high_aqi_group = df[df['AQI_level'] == 'High']

# running t test for all the health outcome columns 
health_metrics = ['RespiratoryCases', 'CardiovascularCases', 'HospitalAdmissions']

# storing results in a list to create a data frame and to export it later 
results = []

for metric in health_metrics:
    t_stat, p_value = ttest_ind(low_aqi_group[metric], high_aqi_group[metric])
    results.append({
        "Metric": metric,
        "T-Statistic": round(t_stat, 4),
        "P-Value": round(p_value, 4)
    })


# creating a data frame 
results_df = pd.DataFrame(results)

# export as csv
results_df.to_csv('q4_data.csv', index_label='SNO')